.Message {
<<<<<<< HEAD
   
}

.MessageList {
	background-color: #fff;
	border: 1px dotted gray;
	border-top: none;
	display: flex;
    flex: 1;
    flex-direction: column;
    width: 65vw;
    padding: 20px;
=======
    
}

.MessageList {

>>>>>>> cb70793d4f8e9b414a36b225f4164bedd3555354
}