.MessageForm {
<<<<<<< HEAD
	background-color: #FAFAFA;
}

.MessageInput {
    padding: 15px;
    width: 40vw;
    background-color: #fff;
    border: 1px dotted gray;
    border-top: none;
=======

}

.MessageInput {
    
>>>>>>> cb70793d4f8e9b414a36b225f4164bedd3555354
}