.Users {
<<<<<<< HEAD
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 25vw;
}

.UsersOnline {
    padding: 15px;
    text-align: center;
=======

}

.UsersOnline {

>>>>>>> cb70793d4f8e9b414a36b225f4164bedd3555354
}

.UsersList {

}

.UserItem {
<<<<<<< HEAD
    padding: 15px;
=======
    
>>>>>>> cb70793d4f8e9b414a36b225f4164bedd3555354
}