.UserForm {
<<<<<<< HEAD
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.UserInput {
	border: 2px dotted gray ;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    width: 40vw;
=======

}

.UserInput {

>>>>>>> cb70793d4f8e9b414a36b225f4164bedd3555354
}