.Users {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 25vw;
}

.UsersOnline {
    padding: 15px;
    text-align: center;
}

.UsersList {

}

.UserItem {
    padding: 15px;
}